body{
background-color:white;
}
#comparecart{
	width:100%;
	height:5%;
	position:fixed;
	bottom:5%;
	font-size:350%;
	text-align:center;
	background-color:#CFD8DC;
	margin-bottom:2px;
	
}
#paycart{width:100%;
	height:5%;
	position:fixed;
	bottom:10%;
	font-size:350%;
	text-align:center;
	background-color:#A5D6A7;
	margin-bottom:2px;
	}
#cancelcart{
	width:100%;
	height:5%;
	position:fixed;
	bottom:0%;
	font-size:350%;
	text-align:center;
	background-color:#FFCCBC;
}
