body{
	margin:0;
	padding:0;
	
}

div#page {
    width: 100%;
    height: 100%;
    background-color: ;
    margin: 0%;
    padding: 0%;
	float: left;
    margin-top: 15%;
}
div#fav {
    width: 100%;
    height: 5%;
    background-color: #00796B;
    color: white;
    font-size: 120%;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    float: left;
    margin-bottom: 5%;
    margin-top: 0;
}
.purchase_section {
    width: 100%;
    height: 20%;
    float: left;
    background-color: #ECEFF1;
	border-bottom: 5px solid #B0BEC5;
}
.cartimg {
    width: 30%;
    height: 100%;
    background-color: #78909C;
    float: left;
	margin-right: 5%;
}
.date {
    width: 80%;
    height: 25%;
    font-size: 100%;
	margin-top: 2%;
}
.martname {
    width: 80%;
    height: 25%;
    font-size: 100%;
}
.number {
    width: 80%;
    height: 25%;
    font-size: 100%;
}
.total {
    width: 80%;
    height: 25%;
    font-size: 100%;
}
img.martimg {
       width: 100%;
    height: 100%;
}
.pages {
    width: 100%;
    height: 100%;
    background-color: ;
    z-index: 99999;
    /* position: absolute; */
    float: left;
    display: none;
	    margin-top: 15%;
}
.eachproduct {
    width: 100%;
    height: 20%;
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 110%;
}
.barcode {
    width: 90%;
    HEIGHT: 25%;
    padding-top: 1%;
    margin-left: 5%;
}
.productname {
       width: 90%;
    HEIGHT: 25%;
   
    margin-left: 5%;
}
.productprice {
    width: 90%;
    HEIGHT: 25%;
  
    margin-left: 5%;
}
.productquantity {
    width: 90%;
    HEIGHT: 25%;
    /* padding-top: 5%; */
    margin-left: 5%;
}
.closepage {
    width: 100%;
    font-size: 120%;
    height: 6%;
	    color: white;
	    bottom: 0;
    position: fixed;
    text-align: center;
    padding-top: 2%;
    background-color: #FF7043;
}
.eachtotal {
    width: 100%;
    font-size: 120%;
    height: 6%;
    text-align: center;
    padding-top: 2%;
    background-color: #CFD8DC;
}
.navbar{
width:100%;
height:8.5%;
background-color:#2980b9;
float:left;	
position:fixed;
	//margin-top:-8px;
//	margin-left:-1%;
}
#arrow{
    width: 38%;
    margin-top: 0%;
}
.containsarrow{
    margin-top: -0.5%;
    margin-left: 3%;
    float: left;
	
}
div#load {
    width: 100%;
    height: 100%;
    margin-top: 0%;
    float: left;
    z-index: 99999;
    display: none;
}
img#loader {
	width:10%;
    margin-left: 45%;
    margin-top: 75%;
}
.billno {
    text-align: center;
    margin-top: 2%;
}